include README.md
include LICENSE
recursive-include jscoup/dashboard/static *.html
include SECURITY_UPGRADE.md
include VALIDATION_231.md
recursive-include tests *.py
include NOTICE
include TRADEMARK.md
include CHANGELOG.md
include CITATION.cff
include SECURITY.md
